<section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <ul class="breadcrumb pull-right">
                <li><a href="#/">الرئيسيّة</a></li>
                <li class="active">{{article.title}}</li>
            </ul>
            <h2>أخبار</h2>

        </div>
    </div>
</section>

<section class="blog-wrapper">
    <div class="container">
        <div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="blog-masonry">
                    <div class="col-lg-12">
                        <div class="blog-carousel">
                            <div ng-switch on="article.type">
                                <div class="entry" ng-switch-when="IMG">
                                    <img data-ng-src="data:image/PNG;base64,{{article.image}}" alt="" class="img-responsive">

                                    <div class="magnifier">
                                        <div class="buttons">
                                            <a class="st" rel="bookmark" href=""><span class="fa fa-twitter"></span></a>
                                            <a class="sg" rel="bookmark" href=""><span
                                                    class="fa fa-facebook"></span></a>
                                        </div>
                                    </div>
                                    <div class="post-type">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </div>
                                <div class="entry" ng-switch-when="VID">
                                    <iframe class="youtube_video" ng-src="{{trustSrc(article.url)}}" width="500"
                                            height="281"></iframe>
                                    <div class="post-type">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </div>
                                <div class="entry" ng-switch-when="SND">
                                    <iframe class="soundcloud" height="166"
                                            ng-src="{{trustSrc(article.url)}}"></iframe>
                                    <div class="post-type">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </div>
                                <div class="entry" ng-switch-default>
                                    <img src="images/default.png" alt="" class="img-responsive">

                                    <div class="magnifier">
                                        <div class="buttons">
                                            <a class="st" rel="bookmark" ng-href="#article/{{article.id}}"><i
                                                    class="fa fa-link"></i></a>
                                        </div>
                                        <!-- end buttons -->
                                    </div>
                                    <!-- end magnifier -->
                                    <div class="post-type">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-header">
                                <h1>{{article.title}}</h1>

                                <div class="blog-carousel-meta">
                                    <span><i
                                            class="fa fa-calendar"></i>{{article.submissionDate|date:'MM/dd/yyyy'}}</span>
                                    <span><i class="fa fa-comment"></i> <a href="">0 تعليقات</a></span>
                                    <span><i class="fa fa-user"></i> <a href="">مسؤول الموقع</a></span>
                                </div>
                                <!-- end blog-carousel-meta -->
                            </div>
                            <!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p ng-bind-html='article.content'></p>
                            </div>
                            <!-- end blog-carousel-desc -->
                        </div>
                        <!-- end blog-carousel -->
                    </div>
                    <!-- end col-lg-12 -->
                </div>
                <!-- end blog-masonry -->

                <div class="clearfix"></div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="next_prev text-center">
                        <ul class="pager">
                            <li class="previous">
                                <a ng-href="#article/{{articleId | add:-1}}">← الخبر السابق</a>
                            </li>
                            <li class="next">
                                <a ng-href="#article/{{articleId | add:1}}">الخبر التالي →</a>
                            </li>
                        </ul>
                    </div>
                    <!-- next_prev -->
                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end content -->


        <!-- Starting SideBar -->
        <div id="sidebar" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="general-title">
                    <h2>جمعيّة القضاة التونسيّين</h2>
                    <hr>

                    <p>جمعيّة تُعنى بالدفاع عن ٱستقلاليّة القضاء جمعيّة تُعنى بالدفاع عن ٱستقلاليّة القضاء جمعيّة تُعنى
                        بالدفاع عن ٱستقلاليّة القضاء. </p>
                </div>
                <!-- end title -->
            </div>
            <div class="widget">
                <div class="newsletter_widget">
                    <form action="#" class="search_form">
                        <input type="text" class="form-control" ng-model="keyWords" placeholder="إبحث في الموقع">
                        <a href="#article/search/{{keyWords}}" class="btn btn-primary pull-right">{{'page.button.search' | translate}}</a>
                    </form>
                </div>
                <!-- end search form -->
            </div>
            <div class="widget">
                <div class="title">
                    <h3>كلمات مفتاحيّة</h3>
                </div>
                <!-- end title -->
                <div class="tagcloud">
                    <a href="#article/search/{{keyWord.keyWord}}" class="" ng-repeat="keyWord in article.keyWords" title="topics">{{keyWord.keyWord}}</a>
                </div>
            </div>
            <!-- end widget -->

            <div class="widget">
                <div class="title"><h2>الأقسام</h2></div>
                <ul class="nav nav-tabs nav-stacked">
                    <li ng-repeat="cat in categories"><a ng-href="#article/search/cat/{{cat.category}}">{{cat.category}}</a></li>
                </ul>
            </div>
            <!-- end widget -->


            <div class="widget">
                <div class="title">
                    <h3>النّشرة الإخباريّة</h3>
                </div>
                <!-- end title -->
                <div class="newsletter_widget">
                    <p>للإشتراك في النشرة الإخبارية لتلقي الأخبار والتحديثات والإصدارات الجديدة و ذلك عن طريق البريد
                        الإلكتروني. الإشتراك مجاني!</p>

                    <form action="#" class="newsletter_form">
                        <input type="email" class="form-control" ng-model="email"
                               placeholder="الرّجاء إدخال البريد الإلكتروني">
                        <a href="" ng-click="saveEmail()" class="btn btn-primary pull-right">إشتراك</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>