<div id="copyrights">
    <div class="container">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="copyright-text">
                <p>جميع الحقوق محفوظة © 2015 جمعيّة القضاة التونسيّين</p>
            </div>
            <!-- end copyright-text -->
        </div>
        <!-- end widget -->
        <div class="col-lg-7 col-md-6 col-sm-12 clearfix">
            <div class="footer-menu">
                <ul class="menu">
                    <li class="active"><a href="index.html">الصّفحة الرّئيسيّة</a></li>
                    <li><a href="#">مبادئ الجمعيّة</a></li>
                    <li><a href="contact.html">الإتصال بنا</a></li>
                </ul>
            </div>
        </div>
        <!-- end large-7 -->
    </div>
    <!-- end container -->
</div>