<!--<section class="slider-wrapper fullwidthbanner-container">
    <div class="tp-banner-container">
        <div class="fullwidthbanner">
            <ul ng-repeat="slide in slides">
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <img ng-src="{{slide.url}}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
                         data-bgrepeat="no-repeat">
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <div class="slider-shadow"></div>
    </div>
</section>-->

<section class="grey-wrapper">
    <div class="container">
        <div class="widget">
            <div class="title">
                <!-- <h2>Life Style</h2> -->
            </div>
            <!-- end title -->

            <div class="row">
                <div class="col-lg-3">
                    <div class="cat_widget">
                        <div class="entry">
                            <img class="img-responsive" src="demos/lifestyle_01.jpg" alt="">

                            <div class="magnifier">
                                <div class="buttons">
                                    <a href="#"><h3>بيانات</h3></a>
                                </div>
                                <!-- end buttons -->
                            </div>
                            <!-- end magnifier -->
                        </div>
                        <!-- end entry -->
                    </div>
                    <!-- end cat_widget -->
                </div>
                <!-- end col-lg-3 -->
                <div class="col-lg-3">
                    <div class="cat_widget">
                        <div class="entry">
                            <img class="img-responsive" src="demos/lifestyle_02.jpg" alt="">

                            <div class="magnifier">
                                <div class="buttons">
                                    <a href="#"><h3>إعلامات</h3></a>
                                </div>
                                <!-- end buttons -->
                            </div>
                            <!-- end magnifier -->
                        </div>
                        <!-- end entry -->
                    </div>
                    <!-- end cat_widget -->
                </div>
                <!-- end col-lg-3 -->
                <div class="col-lg-3">
                    <div class="cat_widget">
                        <div class="entry">
                            <img class="img-responsive" src="demos/lifestyle_03.jpg" alt="">

                            <div class="magnifier">
                                <div class="buttons">
                                    <a href="#"><h3>ندوات</h3></a>
                                </div>
                                <!-- end buttons -->
                            </div>
                            <!-- end magnifier -->
                        </div>
                        <!-- end entry -->
                    </div>
                    <!-- end cat_widget -->
                </div>
                <!-- end col-lg-3 -->
                <div class="col-lg-3">
                    <div class="cat_widget">
                        <div class="entry">
                            <img class="img-responsive" src="demos/lifestyle_04.jpg" alt="">

                            <div class="magnifier">
                                <div class="buttons">
                                    <a href="#"><h3>متفرّقات</h3></a>
                                </div>
                                <!-- end buttons -->
                            </div>
                            <!-- end magnifier -->
                        </div>
                        <!-- end entry -->
                    </div>
                    <!-- end cat_widget -->
                </div>
                <!-- end col-lg-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end widget -->

        <hr>
        <br>

        <div class="general-title">
            <h2>آخر الأخبار</h2>
            <hr>
            <!-- <p class="lead">We provide best solution for your business</p> -->
        </div>
        <!-- end general title -->
        <div class="blog-masonry">

            <div class="col-lg-4" ng-repeat="article in articles | limitTo:6">
                <div class="blog-carousel">
                    <div ng-switch on="article.type">
                        <div class="entry" ng-switch-when="IMG">
                            <img ng-src="{{article.url}}" alt="" class="img-responsive">

                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="st" rel="bookmark" href="article-image.html"><i
                                            class="fa fa-link"></i></a>
                                </div>
                                <!-- end buttons -->
                            </div>
                            <!-- end magnifier -->
                            <div class="post-type">
                                <i class="fa fa-picture-o"></i>
                            </div>
                        </div>
                        <div class="entry" ng-switch-when="VID">
                            <!-- end pull-right -->
                            <iframe class="youtube_video"
                                    ng-src="{{trustSrc(article.url)}}"></iframe>
                            <div class="post-type">
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                        <div class="entry" ng-switch-when="SND">
                            <iframe class="soundcloud" height="166"
                                    ng-src="{{trustSrc(article.url)}}"></iframe>
                            <div class="post-type">
                                <i class="fa fa-music"></i>
                            </div>
                        </div>
                    </div>
                    <!-- end entry -->
                    <div class="blog-carousel-header">
                        <h3><a title="" href="article-image.html">{{article.title}}</a></h3>

                        <div class="blog-carousel-meta">
                                <span><i class="fa fa-calendar"></i>
                                    {{article.submissionDate|date:'MM/dd/yyyy'}}
                                </span>
                            <span><i class="fa fa-comment"></i> <a href="#">0 تعليقات</a></span>
                        </div>
                        <!-- end blog-carousel-meta -->
                    </div>
                    <!-- end blog-carousel-header -->
                    <div class="blog-carousel-desc">
                        <p ng-bind-html='article.content | limitTo:200'></p>
                    </div>
                    <!-- end blog-carousel-desc -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-wrapper jt-shadow">
    <div class="container">
        <div class="calloutbox bggrey">
            <div class="col-lg-10">
                <h2>جمعية القضاة التونسيين</h2>

                <p>جمعية القضاة التونسيين جمعية القضاة التونسيين جمعية القضاة التونسيين جمعية القضاة التونسيين .</p>
            </div>
            <div class="col-lg-2">
                <a class="btn pull-right btn-dark btn-lg margin-top" href="contact.html" target="_blank">إتصلوا
                    بنا</a>
            </div>
        </div>
        <!-- end messagebox -->
    </div>
    <!-- end container -->
</section>