<header id="header-style-1">
    <div class="header-container">
        <nav class="navbar yamm navbar-default">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand"></a>
            </div>
            <!-- end navbar-header -->

            <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">

                    <li><a href="index.html">الرئيسيّة </a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">الجمعيّة
                        <div class="arrow-up"></div>
                    </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="basic-law.html">القانون الأساسي</a></li>


                            <li class="dropdown-submenu">
                                <a href="#">الأعضاء</a>
                                <ul class="dropdown-menu">
                                    <li><a href="team-members.html">أعضاء المكتب التنفيذي</a></li>
                                    <li><a href="members-administrative-board.html">أعضاء الهيئة الإدارية</a></li>
                                </ul>
                                <!-- end dropdown-menu -->
                            </li>
                            <!-- end dropdown-submenu -->

                            <!-- <li><a href="team-members.html">الأعضاء</a></li>
                             <li><a href="members-administrative-board.html">أعضاء الهيئة الإدارية</a></li>
                             <li><a href="portfolio-category.html">Project Category</a></li>-->

                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <!-- end standard drop down -->
                    <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">مقالات
                        <div class="arrow-up"></div>
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-3">
                                            <li><a href="article-no-media.html">خبر عادي</a></li>
                                            <li><a href="article-image.html">خبر مع صورة</a></li>
                                            <li><a href="article-video.html">خبر مع فيديو</a></li>

                                        </ul>
                                        <ul class="col-sm-3">

                                            <li><a href="article-slider.html">خبر مع مجموعة صور</a></li>
                                            <li><a href="article-quote.html">خبر مع مقولة عامّة</a></li>
                                            <li><a href="article-quote.html">خبر مع صوت أوديو</a></li>
                                        </ul>
                                    </div>
                                    <!-- end row -->
                                </div>
                                <!-- end yamm-content -->
                            </li>
                        </ul>
                        <!-- end drop down menu -->
                    </li>
                    <!-- end drop down -->
                    <li><a href="faq.html">الأسئلة المتداولة</a></li>
                    <li><a href="contact.html">الإتصال بنا</a></li>

                </ul>
                <!-- end navbar-nav -->
            </div>
            <!-- #navbar-collapse-1 -->            </nav>
        <!-- end navbar yamm navbar-default -->
    </div>
    <!-- end container -->
</header>