<style>
    .md-datepicker-button {
        width: 36px;
    }

    .md-datepicker-input-container {
        margin-left: 2px;
    }
</style>
<form name="editfrom" layout="column" ng-cloak class="md-inline-form"
      flow-init="{target: '/upload',testChunks:false}"
      flow-files-submitted="$flow.upload()"
      flow-file-success="someHandlerMethod( $file, $message, $flow )">
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
        <md-input-container>
            <label>Titre</label>
            <input ng-model="article.title" dir="rtl" required>
        </md-input-container>
        <md-input-container>
            <label>Auteur</label>
            <input ng-model="article.author" placeholder="مسؤول الموقع" dir="rtl" required>
        </md-input-container>
        <md-input-container>
            <label>Type</label>
            <md-select ng-model="article.type">
                <md-option value="VID">
                    Vidéo
                </md-option>
                <md-option value="IMG">
                    Image
                </md-option>
                <md-option value="SND">
                    Son
                </md-option>
                <md-option value="OTH">
                    Autre
                </md-option>
            </md-select>
        </md-input-container>
        <div ng-hide="isOther()">
            <md-input-container ng-hide="isImage()">
                <label>Url</label>
                <input ng-model="article.url">
            </md-input-container>
            <md-input-container ng-show="isImage()">
                <label>Url</label>
                <input id="fileInput" name="file" type="file" flow-btn>
                <img flow-img="$flow.files[$flow.files.length-1]" style="width: 10vw;height: auto"/>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Contenu</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="article.content" dir="rtl"></textarea>
            <!--<text-angular ng-model="article.content" dir="rtl"></text-angular>-->
            <!--<textarea ng-model="article.content" dir="rtl"></textarea>-->
        </md-input-container>
    </md-content>
    <md-button class="md-raised md-primary" ng-click="saveArticle(editfrom)">Enregistrer</md-button>
    <md-button class="md-raised md-primary" ng-click="deleteArticle()">Supprimer</md-button>
</form>