<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Le Projet Police Politique : Admin</title>
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <style>
        body{
            background-color: #eee;
        }
        .container{
            padding-top: 20vh;
            width: 30%;
        }
    </style>
</head>
<body>
<div tiles:fragment="content" class="container">
    <form class="form-signin" name="f" th:action="@{/login}" method="post">
        <fieldset>
            <img src="images/logo.jpg"/>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <input class="form-control" type="text" id="username" name="username" placeholder="Login"/>
            <br/>
            <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe"/>
            <br/>
            <div class="form-actions">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>